<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I'm a student at MIT studying Electrical Engineering and Computer Science. 

          <br>
          <br>

          I am currently a sophomore and have taken many EECS classes on various topics including analog electronics, power electronics, signal processing, MRI, and programming.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Currently, I am doing research at the Wellman Center for Photomedicine, where I work on developing optical imaging systems for medical applications.

          <br>
          <br>

          This website is a portfolio that showcases the various things that I've worked on. Feel free to <a href="mailto:ericzou1111@gmail.com">get in touch</a>!
        </p>
      </div>
    </div>
  </div>
</section>
